<li class="bg-gray-50 p-4 rounded-md shadow-sm hover:shadow-md transition" id="product_<%= product.id %>">
  <div class="flex justify-between">
    <a href="<%= product_path(product) %>" class="text-gray-800 font-medium hover:underline">
      <%= product.name.titleize %>
    </a>
  </div>

  <% if product.earliest_expiration %>
    <% expiration_date = product.earliest_expiration.to_date rescue nil %>
    <% if expiration_date %>
      <% color_class = expiration_date <= Date.today + 7 ? "text-red-500" : "text-green-500" %>
      <span class="<%= color_class %> text-xs">
        <%= t("products.expiration", date: l(expiration_date, format: :long)) %>
      </span>
    <% end %>
  <% end %>

  <div class="locations-container">
    <% product.locations.each do |location| %>
      <div style='margin-bottom: 10px;' class="location-item">
        <p class="text-gray-500 text-xs"><%= t("products.qty", count: location.inventory_items.detect { |i| i.product_id == product.id }&.quantity) %></p>
        <p class="text-gray-500 text-xs"><%= t("products.unit_type", type: location.inventory_items.detect { |i| i.product_id == product.id }&.unit_type&.titleize) %></p>
        <p class="text-gray-500 text-xs"><%= t("products.location_with_name", name: location.name) %></p>
      </div>
    <% end %>
  </div>
</li>