<% case params[:card] %>
<% when 'batches' %>
  <%= turbo_stream.append "batches-list" do %>
    <%= render partial: "dashboard/batch", collection: @batches, as: :batch %>
  <% end %>
  
  <%= turbo_stream.replace "batches-pagination" do %>
    <% if @batches.next_page %>
      <div id="batches-pagination" class="hidden">
        <%= link_to "Next page", 
                    dashboard_path(batches_page: @batches.next_page, card: 'batches'), 
                    rel: 'next', 
                    data: { 
                      turbo_frame: "_top",
                      loading: 'false' 
                    } %>
      </div>
    <% else %>
      <div id="batches-pagination" data-final-page="true" class="hidden"></div>
    <% end %>
  <% end %>

<% when 'recipes' %>
  <%= turbo_stream.append "recipes-list" do %>
    <%= render partial: "dashboard/recipe", collection: @recipes, as: :recipe %>
  <% end %>
  
  <%= turbo_stream.replace "recipes-pagination" do %>
    <% if @recipes.next_page %>
      <div id="recipes-pagination" class="hidden">
        <%= link_to "Next page", 
                    dashboard_path(recipes_page: @recipes.next_page, card: 'recipes'), 
                    rel: 'next', 
                    data: { 
                      turbo_frame: "_top",
                      loading: 'false' 
                    } %>
      </div>
    <% else %>
      <div id="recipes-pagination" data-final-page="true" class="hidden"></div>
    <% end %>
  <% end %>

<% when 'products' %>
  <%= turbo_stream.append "products-list" do %>
    <% @products.each do |product| %>
      <%= render partial: "dashboard/product", locals: { product: product } %>
    <% end %>
  <% end %>
  
  <%= turbo_stream.replace "products-pagination" do %>
    <% if @products.next_page %>
      <div id="products-pagination" class="hidden">
        <%= link_to "Next page", 
                    dashboard_path(products_page: @products.next_page, card: 'products'), 
                    rel: 'next', 
                    data: { 
                      turbo_frame: "_top",
                      loading: 'false' 
                    } %>
      </div>
    <% else %>
      <div id="products-pagination" data-final-page="true" class="hidden"></div>
    <% end %>
  <% end %>
<% end %>