<% if products.any? %>
  <% unit_options = product.recipe_items.build.compatible_unit_options.to_h %>
  <button
    type="button"
    class="w-full text-left px-4 py-2 hover:bg-gray-100 border-b last:border-b-0"
    data-action="click->recipe-items#selectProduct"
    data-product-id="<%= product.id %>"
    data-product-name="<%= product.name %>"
    data-unit-type="<%= product.inventory_unit_type %>"
    data-unit-options="<%= unit_options.to_json %>">
    <%= product.name %> (<%= product.inventory_unit_type %>)
  </button>
  <% end %>
<% elsif params[:query].present? %>
  <div class="p-2 text-gray-500">
    No matching products found<% if params[:selected_ids].present? %> (some may already be added)<% end %>
  </div>
<% end %>