<div class="mb-6 p-4 bg-gray-50 border rounded-lg">
  <h2 class="text-md font-semibold text-gray-700"><%= t("subscription.heading") %></h2>
  <p class="text-sm text-gray-600 mt-1">
    <%= t("subscription.current_plan", plan: account.subscription.plan.titleize) %>
  </p>

  <br>

  <p class="text-sm text-gray-600 mt-1">
    <%= t("subscription.locations_used", count: account.locations.size, limit: location_limit(account)) %>
  </p>

  <p class="text-sm text-gray-600 mt-1">
    <%= t("subscription.products_used", count: account.products.size, limit: product_limit(account)) %>
  </p>

  <p class="text-sm text-gray-600 mt-1">
    <%= t("subscription.users_used", count: account.users.size, limit: user_limit(account)) %>
  </p>

  <br>

  <% if account.products.count >= product_limit(account) %>
    <p class="text-sm text-red-500 mt-2"><%= t("subscription.limit_reached.products") %></p>
  <% end %>

  <% if account.users.count >= user_limit(account) %>
    <p class="text-sm text-red-500 mt-2"><%= t("subscription.limit_reached.users") %></p>
  <% end %>

  <% if account.locations.count >= location_limit(account) %>
    <p class="text-sm text-red-500 mt-2"><%= t("subscription.limit_reached.locations") %></p>
  <% end %>

  <br>
  <%= link_to t("subscription.manage_link"), billing_portal_path, target: :_blank, class: "text-blue-600 hover:underline" %>
</div>
