<div class="max-w-2xl mx-auto bg-white p-8 rounded-lg shadow-xl border border-gray-300">
  <h1 class="text-2xl font-semibold mb-6 text-gray-800"><%= t("account_settings.title") %></h1>

  <%= render 'subscription_display', account: Current.account %>

  <turbo-frame id="account_settings">
    <%= render "form" %>
  </turbo-frame>
  
  <% if Current.user.admin? %>
    <%= render 'square_buttons' %>
  
    <br>
  <% end %>

  <% if Current.user.admin? %>
    <%= render 'invitation_partial', invitations: @invitations %>

    <div class="mt-8 text-center flex justify-center">
      <%= link_to t("account_settings.delete_account"), '/delete_account',
          data: { turbo_confirm: t("account_settings.confirm_delete"), turbo_method: :delete },
          class: "text-red-600 hover:text-red-800 text-white underline delete-acc-btn" %>
    </div>
  <% end %>
</div>
