<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1><%= t('mailers.confirmation_instructions.welcome', app_name: Rails.application.class.module_parent_name, user_name: @user.name) %></h1>
  
  <p><%= t('mailers.confirmation_instructions.one_step_away') %></p>
  
  <p>
    <%= link_to t('mailers.confirmation_instructions.confirm_button'), @confirmation_url %>
  </p>
  
  <p><%= t('mailers.confirmation_instructions.expiration_notice', hours: @expiration_hours) %></p>
  
  <p><%= t('mailers.confirmation_instructions.ignore_if_not_requested') %></p>
  
  <p><%= t('mailers.signature', app_name: Rails.application.class.module_parent_name) %></p>
</body>
</html>