<% if params[:page].present? %>
  <%= turbo_stream.append "batches-list" do %>
    <%= render @batches %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "batches" do %>
    <%= turbo_frame_tag "batches" do %>
      <div id="batches-list">
        <%= render @batches %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.replace "infinite-scroll-metadata" do %>
  <%= render partial: "batches/next_page_metadata", locals: { next_page: @batches.next_page } %>
<% end %>