<turbo-frame id='main'>
  <div class="mb-4 flex justify-between items-center">
    <h1 style='font-size: x-large' class='font-semibold text-lg'><%= t("products.index.title") %></h1>
    <%= link_to t("products.index.new_product"), new_product_path, data: { turbo_frame: 'main' }, class: "bg-green text-white px-5 py-2.5 rounded hover:bg-green-600" %>
  </div>

  <!-- Search Bar -->
  <div style='background-color: white;' class="mb-4 rounded">
    <%= form_with url: products_path, method: :get, local: true, class: "flex space-x-2" do |form| %>
      <%= form.text_field :query, value: params[:query], placeholder: t("products.index.search_placeholder"), class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500" %>
      <%= form.submit t("products.index.search_button"), class: "bg-blue bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition" %>
    <% end %>
  </div>

  <!-- Product List inside Turbo Frame -->
  <div class="bg-white shadow-md rounded-lg p-6">
    <div data-controller="infinite-scroll">
      <turbo-frame id="products_list">
        <ul class="divide-y divide-gray-200">
          <%= render products %>
        </ul>
      </turbo-frame>

      <% if products.next_page %>
        <div data-controller="infinite-scroll"
          data-infinite-scroll-url-value="<%= products_path(page: products.next_page, format: :turbo_stream) %>">
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
