<li style='list-style-type: none;' class="py-6" id="product_<%= product.id %>">
  <div>
    <div class="text-lg font-semibold text-gray-800"><%= product.name.titleize %></div>
    <div class="text-sm text-gray-600">
      <%= t('products.sku_title') %>: <%= product.sku %> |
      <%= t('products.category') %>: <%= product.category&.name&.titleize || t('products.na') %>
    </div>
  </div>

  <div class="mt-2 text-sm text-gray-700">
    <strong><%= t('products.stock_locations') %>:</strong>
    <% product.inventory_items.includes(:location, :batch).each do |inventory_item| %>
      <div id="<%= dom_id(inventory_item) %>" class="mt-1 pl-2 border-l-2 border-gray-200">
        <div class="inventory-item-block inline-block text-sm text-gray-700">
          <div class="inventory-item flex justify-between items-start gap-4">
            <div>
              <p class="font-medium">
                <%= inventory_item.location.name %>: 
                <%= "#{inventory_item.quantity} #{inventory_item.unit_type.titleize}" %>
                <%= "| Unit Price: #{inventory_item.price}" if inventory_item.price.present? %>
              </p>
    
              <% if inventory_item.batch.present? %>
                <p class="text-xs text-gray-500 mt-1">
                  <%= t('products.batch_number') %>: <%= inventory_item.batch.batch_number %> |
                  <%= t('products.mfg') %>: <%= inventory_item.batch.manufactured_date || 'N/A' %> |
                  <%= t('products.exp') %>: <%= inventory_item.batch.expiration_date %>
                </p>
              <% end %>
            </div>
    
            <%= button_to '×', "/inventory_items/#{inventory_item.id}", method: :delete,
                data: { turbo_method: :delete, turbo_confirm: t('products.confirm_delete_item'), turbo_stream: true },
                class: "delete-item-btn text-red-500 text-sm px-2" %>
          </div>
        </div>
      </div>
    <% end %>        
  </div>

  <% if product.recipe_items.any? %>
    <div class="mt-2 text-sm text-gray-700">
      <strong><%= t('products.used_in_recipes') %>:</strong>
      <ul class="mt-1 pl-2 border-l-2 border-gray-200">
        <% product.recipe_items.includes(:recipe).each do |recipe_item| %>
          <li class="mb-1">
            <%= recipe_item.recipe.name %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-2 space-x-2">
    <%= link_to t('actions.show'), product, data: { turbo_frame: 'main' }, class: "text-blue-500 hover:underline" %>
    <%= link_to t('actions.edit'), edit_product_path(product), data: { turbo_frame: 'main' }, class: "text-yellow-500 hover:underline" %>
    <%= link_to t('actions.delete'), product, data: { turbo_method: :delete, turbo_frame: "product_#{product.id}", turbo_confirm: t('products.details.actions.confirm_delete') }, class: "text-red-500 hover:underline" %>
  </div>
</li>