<li style='list-style-type: none;' class="py-6" id="product_<%= product.id %>">
  <div>
    <div class="text-lg font-semibold text-gray-800"><%= product.name %></div>
    <div class="text-sm text-gray-600">
      <%= t('products.sku_title') %>: <%= product.sku %> |
      <%= t('products.unit_type_title') %>: <%= product.unit_type.capitalize %> |
      <%= t('products.category') %>: <%= product.category&.name&.capitalize || t('products.na') %>
      <br>
      <%= show_price(product) %>
      <%= show_batch_info(product) %>
    </div>
  </div>

  <div class="mt-2 text-sm text-gray-700">
    <strong><%= t('products.stock_locations') %>:</strong>
    <% product.inventory_items.includes(:location).each do |inventory_item| %>
      <p><%= inventory_item.location.name %>: <%= inventory_item.quantity %> <%= t('products.in_stock') %></p>
    <% end %>
  </div>

  <div class="mt-2 space-x-2">
    <%= link_to t('actions.show'), product, data: { turbo_frame: 'main' }, class: "text-blue-500 hover:underline" %>
    <%= link_to t('actions.edit'), edit_product_path(product), data: { turbo_frame: 'main' }, class: "text-yellow-500 hover:underline" %>
    <%= link_to t('actions.delete'), product, data: { turbo_method: :delete, turbo_frame: "product_#{product.id}", turbo_confirm: t('products.details.actions.confirm_delete') }, class: "text-red-500 hover:underline" %>
  </div>
</li>
