<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pims" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200">
    <div data-controller="sidebar" class="flex min-h-screen">
      <% if Current.user %>
        <!-- Sidebar -->
        <%= render 'shared/sidebar' %>
      <% end %>

      <!-- Main Content Wrapper -->
      <div class="w-full <%= Current.user ? 'md:w-[calc(100%-256px)] md:ml-64' : '' %> transition-all">
        
        <% if Current.user %>
          <!-- Navbar -->
          <%= render 'shared/navbar' %>
        <% end %>
        
        <!-- Page Content -->
        <main class="container mx-auto mt-6 px-5">
          <div id="flash">
            <% if flash.any? %>
              <%= render "shared/flash" %>
              <% flash.clear %>
            <% end %>
          </div>

          <br>
          <%= turbo_frame_tag "main" do %>
            <%= yield %>
          <% end %>
        </main>
      </div>
    </div>
  </body>
</html>
